TARGET_HOST=""
FIREFOX_EXTENSION_ID=""
AMO_JWT_ISSUER=""
AMO_JWT_SECRET=""
CHROME_EXTENSION_KEY=""
BASE_URL="http://localhost:3000"
PORT="3000"
TLS_CERT="keys/localhost.pem"
TLS_KEY="keys/localhost-key.pem"
UPDATE_URL=""
